/* Contenedor principal: grid + detalle */
.pokemon-list-container {
  
  background-color: #f5f5f5;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: inset 0px 0px 5px #000000;
}

/* Grid de Pokémon */
.pokemon-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

/* Mensajes de carga o error */
.status-message {
  font-size: 1.2rem;
  color: #ff0000;
  text-align: center;
  width: 100%;
}


/* /molecules/HeaderSummary.module.css */
.headerSummary {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #e0e0e0; /* barra separadora */
  padding-bottom: 6px;              /* espacio antes de la barra */
  margin-bottom: 10px;              /* separación con el contenido siguiente */
}

.headerSummary h6 {
  flex: 1 1 33%;
  text-align: left;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
